<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDBLOG|BLOGS</title>
    <link rel="stylesheet" href="/blog/css/style.css">
    <link rel="stylesheet" href="/blog/css/blogs.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!-- navbar  -->
    <nav class="navbar">
        <ul>
            <li>
                <a href='/'><b>HOME</b></a>
            </li>
            <li>
                <a href='/blogs'><b>BLOGS</b></a>
            </li>
            <li>
                <a href='/contact'><b>CONTACT</b></a>
            </li>
        </ul>
    </nav>
    <!-- navbar end  -->

    <div class="blogpageheader">
        <h2><i>WELCOME TO OUR BLOGS SECTION</i></h2>
    </div>
    <section class="allblogcards">
        <div class="longcards">
            <img src="/blog/img/introsection.jpg" alt="img">
            <div class="longcardstext">   
                <h3><b>THE BEGINNING 1</b></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ducimus consequuntur dicta nam tempora optio tempore distinctio fuga iusto ipsa id, totam, repudiandae suscipit architecto, dolore quod laudantium. Qui eos tempora ducimus quod deleniti, necessitatibus dicta culpa, iure neque laboriosam perspiciatis dolore accusamus. Eius suscipit esse velit neque a eos maxime et eum! Blanditiis ab ex corrupti similique sit, perspiciatis nihil quaerat quos nobis aspernatur.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="longcards">
                <img src="/img/introsection.jpg" alt="img">
            <div class="longcardstext">   
                <h3><b>THE BEGINNING 2</b></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ducimus consequuntur dicta nam tempora optio tempore distinctio fuga iusto ipsa id, totam, repudiandae suscipit architecto, dolore quod laudantium. Qui eos tempora ducimus quod deleniti, necessitatibus dicta culpa, iure neque laboriosam perspiciatis dolore accusamus. Eius suscipit esse velit neque a eos maxime et eum! Blanditiis ab ex corrupti similique sit, perspiciatis nihil quaerat quos nobis aspernatur.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="longcards">
                <img src="/img/introsection.jpg" alt="img">
            <div class="longcardstext">   
                <h3><b>THE BEGINNING 3</b></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ducimus consequuntur dicta nam tempora optio tempore distinctio fuga iusto ipsa id, totam, repudiandae suscipit architecto, dolore quod laudantium. Qui eos tempora ducimus quod deleniti, necessitatibus dicta culpa, iure neque laboriosam perspiciatis dolore accusamus. Eius suscipit esse velit neque a eos maxime et eum! Blanditiis ab ex corrupti similique sit, perspiciatis nihil quaerat quos nobis aspernatur.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="longcards">
                <img src="/img/introsection.jpg" alt="img">
            <div class="longcardstext">   
                <h3><b>THE BEGINNING 4</b></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ducimus consequuntur dicta nam tempora optio tempore distinctio fuga iusto ipsa id, totam, repudiandae suscipit architecto, dolore quod laudantium. Qui eos tempora ducimus quod deleniti, necessitatibus dicta culpa, iure neque laboriosam perspiciatis dolore accusamus. Eius suscipit esse velit neque a eos maxime et eum! Blanditiis ab ex corrupti similique sit, perspiciatis nihil quaerat quos nobis aspernatur.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="longcards">
                <img src="/img/introsection.jpg" alt="img">
            <div class="longcardstext">   
                <h3><b>THE BEGINNING 5</b></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ducimus consequuntur dicta nam tempora optio tempore distinctio fuga iusto ipsa id, totam, repudiandae suscipit architecto, dolore quod laudantium. Qui eos tempora ducimus quod deleniti, necessitatibus dicta culpa, iure neque laboriosam perspiciatis dolore accusamus. Eius suscipit esse velit neque a eos maxime et eum! Blanditiis ab ex corrupti similique sit, perspiciatis nihil quaerat quos nobis aspernatur.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="longcards">
                <img src="/img/introsection.jpg" alt="img">
            <div class="longcardstext">   
                <h3><b>THE BEGINNING 6</b></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ducimus consequuntur dicta nam tempora optio tempore distinctio fuga iusto ipsa id, totam, repudiandae suscipit architecto, dolore quod laudantium. Qui eos tempora ducimus quod deleniti, necessitatibus dicta culpa, iure neque laboriosam perspiciatis dolore accusamus. Eius suscipit esse velit neque a eos maxime et eum! Blanditiis ab ex corrupti similique sit, perspiciatis nihil quaerat quos nobis aspernatur.</p>
                <button>Read More</button>
            </div>
        </div>
    </section>
    <!-- footer  -->
    <footer class="footer">
        <h1 style="margin-bottom:0px ;">Medblogs©</h1>
        <p style="margin-bottom:33px; font-size: large;">All rigths are reserved & belong to Medblogs</p>
        <a href="/blogs">BLOGS</a>
        <a href="/contact">CONTACT US</a>
        <h2 style="padding-top:12px ; font-family: Georgia, 'Times New Roman', Times, serif;">Follow us</h2>
          
        <div class="icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>   
        <ion-icon name="logo-twitter"></ion-icon>   
    </div>  

    </footer>
    
</body>
</html>
