<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDBLOG|HOME</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!-- navbar  -->
    <nav class="navbar">
        <ul>
            <li>
                <a href='/'><b>HOME</b></a>
            </li>
            <li>
                <a href='/blogs'><b>BLOGS</b></a>
            </li>
            <li>
                <a href='/contact'><b>CONTACT</b></a>
            </li>
        </ul>
    </nav>
    <!-- navbar end  -->
    
    <section class="intro">
        <section class="introleft">
            <img src="/img/introsection.jpg" alt="img">
        </section>
        <section class="introright">
            <i>"Handle me with love and care as I had missed it in my life affair. Was too poor for cremation or burial that is why am lying in dissection hall. You dissect me,cut me,section me,but your learning anatomy should be precise. Worry not you would be not taken to court as i am happy to be with the bright lot. Couldn't dream of a fridge for cold water, now my body parts are kept in refrigerator. Young  students sit around me with friends, a few dissect rest talk about food and movies that's how I enjoy dissection periods. Skeleton is the crown glory of museum, now i am being looked up by great enthusisasm. If not as skeletons as loose bones, I am in their bags and in their hostel rooms. At times I am on their bed as well, Oh what a promotion to heaven from hell"<br>
            ~<b>BD Chaurasia</b></i>
        </section>
    </section>
    <section class="about">
            <hr>
        <div>
            <h1 style="text-align:center;"><i> About Me</i></h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, amet magnam voluptatibus provident non quaerat voluptates obcaecati! Cupiditate laboriosam odit, ea ipsam tempore saepe delectus, harum deserunt eligendi obcaecati in. Quo veniam voluptate, nisi ipsam, eaque ratione totam pariatur sed, sequi rem expedita repudiandae nostrum molestiae incidunt impedit? Minus tenetur, doloribus dolorum minima sit maiores, magni impedit soluta, quae ut omnis aut odio? Illo voluptatum ipsam, perferendis amet nihil repellat excepturi ipsa officia laudantium, atque maiores qui similique quae, dolorem magni eaque labore ex autem est sed quidem deleniti doloremque. Officiis voluptas a sequi eligendi.
            </p>
        </div>
    </section>
    <hr id="aboutendhr">

    <h1 id="header_highlights">HIGHLIGHTS</h1>

    <section class="blogcards">
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 1</b></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatum quas odit, maiores distinctio necessitatibus maxime, tenetur deleniti asperiores commodi provident consectetur, eaque beatae quia.
              </p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 2</b></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis provident dolore itaque eos non autem, consequatur magni ab quasi modi nisi quaerat necessitatibus illo a.</p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 3</b></h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, quia odit neque tenetur eveniet iure aliquam laborum at impedit, accusamus ab doloribus corporis suscipit rem?</p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 4</b></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In maiores id culpa dolores atque. Temporibus dignissimos optio unde dolore quo repellat quidem tenetur possimus nobis?</p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 5</b></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repudiandae, porro amet maiores rerum suscipit consectetur repellendus doloribus quam! Veritatis delectus odit corporis neque incidunt!</p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 6</b></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi impedit est suscipit. Ullam eius, consectetur voluptates in quam fuga consequuntur magni corporis cum odio quia!</p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 7</b></h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam voluptatum quod rerum, omnis nesciunt eaque molestias molestiae atque nihil quaerat, nisi nemo, quasi perspiciatis autem.</p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 8</b></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate nulla itaque, nostrum necessitatibus distinctio, ratione ad, debitis mollitia vitae consequuntur? Nesciunt saepe commodi eius.</p>
              <button>Read More</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/introsection.jpg" alt="Avatar">
            <div class="card_desc">
              <h3><b>THE BEGINNING 9</b></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni reprehenderit repellat explicabo asperiores? Earum eligendi, fuga minus omnis totam voluptatum nostrum incidunt ducimus commodi enim.</p>
              <button>Read More</button>
            </div>
        </div>
    </section>

    <!-- footer  -->
    <footer class="footer">
        <h1 style="margin-bottom:0px ;">Medblogs©</h1>
        <p style="margin-bottom:33px; font-size: large;">All rigths are reserved & belong to Medblogs</p>
        <a href="/blogs">BLOGS</a>
        <a href="/contact">CONTACT US</a>
        <h2 style="padding-top:12px ; font-family: Georgia, 'Times New Roman', Times, serif;">Follow us</h2>
          
        <div class="icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>   
        <ion-icon name="logo-twitter"></ion-icon>   
    </div>  

    </footer>
    
</body>
</html>